article {
animation: spin 2.5s infinite linear paused;
background:
linear-gradient(
to bottom,
oklch(0.1 0.2 240 / 0.95),
oklch(0.1 0.2 240 / 0.95)
)
padding-box, 
conic-gradient(
from var(--bg-angle) in oklch longer hue,
oklch(1 0.37 0) 0 0
)
border-box; 
border: 6px solid transparent;
&:hover {
animation-play-state: running;
}
}
